<h1>Worked With Type</h1>
<div class="form">
  <h2>Name</h2>
  <div class="show_field"><%= @worked_with_type.name %></div>

  <h2>Active</h2>
  <div class="show_field"><% if @worked_with_type.active == "Y" %>Yes<% else %>No<% end %></div>
</div>