<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @congregation.name %>
</p>

<%= link_to 'Edit', edit_congregation_path(@congregation) %> |
<%= link_to 'Back', congregations_path %>
