<h1>Settings</h1>
<p>Congregations</p>
	<p>
		<a href="/congregations">Congregations</a>
	</p>
	
<p>Territories</p>
	<p>
		<a href="/territories">Territories</a>
	</p>
<p>Territory Types</p>
	<p>
		<a href="/territory_types">Territory Types</a>
	</p>
<p>Worked With Types</p>
	<p>
		<a href="/worked_with_types">Worked With Types</a>
	</p>
<p>Users</p>
	<p>
		<a href="/users">Users</a>
	</p>
<p>Checkouts</p>
	<p>
		<a href="/checkouts">Checkouts</a>
	</p>
    	